@model IEnumerable<FirstMVCCoreApp.Models.BookModel>

@*@{ 
    var parameter = new Dictionary<string, string>
    {
        {"name","Neha"  },
        {"Company","webgentle"},
        {"appname","Bookstore"},
    };
}*@
    <div class="container">
        <h3 class="h3">All Books</h3>
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-4">
                    <partial name="_bookthumbnail" model="book" />
                </div>
            }

        </div>
    </div>